.nav {
    background-color: rgb(250, 250, 250);
  }
  .nav ul {
    display: flex;
    padding: 0.5rem;
    gap: 10px;
    justify-content: center;
    font-weight: 400;
  }
  .nav ul li {
    list-style: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  .nav ul li:hover {
    background-color: rgb(51, 51, 51);
    color: #ffffff;
    border-radius: 0.3rem;
  }